* {
    /* background-color: rgb(149, 189, 224); */
    margin: 0%;
    padding: 0%;

}
.left-box {
    float: left;
    padding: 20px;
    padding-bottom: 300px;
    text-align: center;
    margin: 10px;
    width: 32%;
    border: salmon solid;
    background-color: salmon;
}

.review-box {
    float: right;
    margin: 10px;
    text-align: center;
    width: 65%;
    border: salmon solid;
    padding: 40px;
    padding-bottom: 457px;
}

input {
    width: 70%;
    text-align: center;
}

.review-input {
    width: 70%;
    padding-bottom: 400px;
}

.brand-logo center {
    text-align: center;
    font-size: 80px;  
    padding: 3%;
} 

