* {
    background-color: rgb(149, 189, 224);
    margin: 5px 
}
  
a {
    float: right;
}

aside {
    float: left;
    width: 30%;
    border: 1mm solid black;
}
section {
    float: right;
    width: 60%;
    border: 1mm solid black;
}

.titlebox {
    border: 1mm solid black;
    width: 99%;
    
}
.title {
    text-align: center;
    font-size: 80px;  
    padding: 3%;
}

