head,
body {
    background-color: rgb(149, 189, 224);
    margin: 1em;
}

.title {
    font-size: 80px;
}

#search-box {
    padding: 15%;
    text-align: center;
    color: white;
}

#left-box {
    float: left;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    margin: 10px;
    width: 35%;
    border: black solid;
    background-color: white;
}

#review-box {
    float: right;
    margin: 10px;
    text-align: center;
    width: 59%;
    border: black solid;
    padding: 20px;
    padding-bottom: 193px;
    background-color: white;
}

.input {
    width: 50%;
    text-align: center;
    color: white;
}

.review-input {
    width: 70%;
    padding-bottom: 100px;
}

#bottom-left-box{
    float: left;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin: 10px;
    width: 35%;
    border: black solid;
    background-color: white;
}

h4, 
form,
label {
    font: Arial; 
    font-size: 14px;
    color: black;
}

textarea {
    padding-bottom: 250px;
}
